@import"bootstrap.min.css";

body{
	margin: 0;
	padding: 0;
	background: url("63.jpg");
	background-position: center center;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: cover;
	font-family: Poppins;

}
.wrapper{
	width: 40%;
	height: 330px;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #000;
}
h1{
	margin:0;
	padding: 0;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-bottom: 8%
	font-family :Coutgetter;
}
.wrapper input{
	width: 100%;
	margin-bottom: 20px;
}
.wrapper input[type=text],
{
border:none;
border-bottom:1px solid #ddd;
background: transparent;
outline: none;
height: 30px;
font-size: 16px;
opacity: 1;
color: #ccc;
 }
 .wrapper input[type=submit]
 {
 	border:none;
 	outline: none;
 	height:40px;
 	background: black;
 	color: white;
 	font-size: 14px;
 	font-weight: bold;
 }
.btn1{
      border:none;
      outline: none;
      height: 50px;
      width: 100%;
      background-color: black;
      color: white;
      border-radius: 4px;
      font-weight: bold;

    }
    
 @media	only screen and (max-width: 600px) {
 	.wrapper {
 		width: 70%;
 		height: 50vh;	
 	}
 }